Repository SovereignCloudStack/website, pull requests merged in 2024-09, with the labels that each got.

#994 Add blog post for security pipeline tools
  _i18n/en/_posts/blog/2024-09-03-security-tools-tech-preview.md
Labels: security

#1014 Add links to EN blog articles in DE.
  _i18n/de/_posts/blog/2024-08-13-central-api-tech-preview-release.md
  _i18n/de/_posts/blog/2024-09-03-security-tools-tech-preview.md
Labels: security

#992 Add VP12 SCS Health Monitor blog post
  _i18n/de/_posts/blog/2024-09-06-vp12-scs-health-monitor-tech-preview.md
  _i18n/en/_posts/blog/2024-09-06-vp12-scs-health-monitor-tech-preview.md
Labels: SCS-VP12

#1025 Add DC-Insider publication of our R7 Press Release.
  _data/news_de.yml
Labels: documentation
